@font-face {
    font-family: 'Monocraft';
    src: url('Monocraft.woff') format('woff');
}

body {
    font-family: 'Monocraft';
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
